html, head, body, header,
 nav, h1, a, ul, li, main,
 section, p, footer, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
   font-family: 'Roboto Slab', serif;
 }

 header, nav, main, section,
 footer, small {
 }

 ul {
   list-style: none;
 }

 /* Clearfix */
 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 /*******************************************/

 html,
 body {
 	margin:0;
 	padding:0;
 	height:100%;
 }

 #wrapper {
 	min-height:100%;
 	position:relative;
 }

 #header {
 }

 #content {
 	padding-bottom:80px;   /* Height of the footer element */
 }

 #footer {
 	width:100%;
 	position:absolute;
 	bottom:0;
 	left:0;
 }


 html, body {
  height:100%;
 }

header {
  background: white;
  color: #202020;
}

nav {
  width: 800px;
  margin: auto;
  padding-bottom: 10px;
}

nav h1 {
  float: left;
  padding: 10px 0;
  font-size: 30px;
  margin-top: 5px;
}

nav ul {
  margin-top: 15px;
  float: right;
  font-size: 18px;
}

nav ul li {
  float: left;
  padding: 10px 10px;
  margin-left: 10px;
}

header nav ul li:hover {
  background: lightgray;
  border-radius: 5px;
}

body {
}

#main {
  min-height: 100%;
  position: relative;
}

.footer {
  background: #202020;
  color: white;
  width:100%;
	position:absolute;
	bottom:0;
	left:0;
}

#wrapper {
  position: relative;
  min-height: 100%;
}

.footer ul li {
  font-size: 15px;
  letter-spacing: 1px;
}

.footer ul li:hover {
  background: lightgray;
  color: black;
  border-radius: 5px;
}

footer div {
  float: left;
  padding: 10px 15px 10px 0;
  margin-top: 15px;
  font-size: 15px;
  letter-spacing: 1px;
}

header .active {
  background: #202020;
  border-radius: 5px;
  color: white;
}

footer .active {
  background: white;
  border-radius: 5px;
  color: #202020;
}

.inactive {
  display: none;
}

.banner-background {
  background: #202020;
  color: white;
  width: 100%;
}

.banner {
  width: 800px;
  margin: auto;
  font-size: 30px;
  padding: 30px 15px;
}

.bottom {
  width: 800px;
  margin: auto;
}

.logo:hover {
  cursor: pointer;
}

a:hover {
  opacity: .4;
}
