#home .bottom{
  width: 750px;
}

.pic {
  margin: 20px 0;
  float: left;
  display: block;
  width: 150px;
  display: block;
}

.pic img {
  width: 150px;
}

.bio {
  float: left;
  padding: 20px;
  padding-left: 50px;
  width: 500px;
}
