@font-face {
  font-family: Sweet;
  src: url("SweetheartScript-limited.ttf")
}

#portfolio .bottom {
  width: 876px;
}

#portfolio .bottom {
}

#portfolio .bottom ul > li {
  height: 250px;
  width: 249px;
  margin: 40px 20px;
  float: left;
  border-radius: 10px;
  text-align: center;
}

#portfolio .bottom ul > li a {
  padding: 5px 10px;
}

#portfolio .bottom {
  font-size: 24px;
}

#insta-img {
  width: 250px;
  position: absolute;
  left: 0;
  z-index: -50;
}

.vinstagram {
  background: #517fa4;
}

.vinstagram a {
  font-family: Sweet;
  color: white;
  font-size: 40px;
}

.snake {
  background: green;
  border: 2px solid #202020;
}

.active-record {
  background: red;
  border: 2px solid #202020;
}

.vinstagram a:hover {
  background: white;
  border-radius: 5px;
  color: #517fa4;
}

.snake a:hover {
  background: white;
  border-radius: 5px;
  color: green;
}

.active-record a:hover {
  background: white;
  border-radius: 5px;
  color: red;
}
