#contact .bottom {
  padding: 20px 0 20px 10px;
  width: 320px;
  margin: auto;
  text-align: left;
}

/*** This is for border radius on hovers ***/
#contact .bottom a {
  padding: 3px 6px;
}

#contact .bottom a:hover {
  background: #202020;
  color: white;
  border-radius: 5px;
}
