#contact .bottom {
  padding: 20px;
  width: 400px;
  margin: auto;
  text-align: left;
}

#contact .bottom a {
  padding: 3px 6px;
}

#contact .bottom a:hover {
  background: #202020;
  color: white;
  border-radius: 5px;
}
